<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Log in</h1>

  <div class="form-group">
    <form method="post" class="center">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary  btn-lg" >Login</button>
      <p>Don't have an account? Create One <a href="{% url 'register_login:index' %}"> here </a></p>
      <p><a href="{% url 'register_login:password_reset' %}"> do you forgot password? </a></p>
    </form>
  </div>
</body>
</html>